<!DOCTYPE html>
<html>
<head>
	<title>Create Task</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h1>New task:</h1>
				<form action="create_task" method="post">
					<label for="task">Task</label>
					<input name="task" id="task" type="text" class="form-control" />
					<input type="submit" value="Submit" class="btn"></input>
				</form>
			</div>
		</div>
	</div>
</body>
</html>